<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="getAverageTransactions()">
    <span>Selecciona un tipo de vehiculo</span>
    <select formControlName="vehicleType">
      <option value="AUTOMOVIL">Automóvil</option>
      <option value="MOTOCICLETA">Motocicleta</option>
      <option value="CAMIONETA">Camioneta</option>
    </select>
    <button type="submit">Enviar</button>
  </form>
  <div class="max-container">
    <h2>Calcula el tiempo máximo de parqueo</h2>
    <button style="margin-top: -20px" (click)="getMaxTimeService()">Tiempo máximo</button>
  </div>
  <div *ngIf="averageTransactionsResponse">
    <pre>{{ averageTransactionsResponse}}</pre>
  </div>

  <div *ngIf="maxTimeServiceResponse">
    <pre>{{ maxTimeServiceResponse }}</pre>
  </div>
</div>

