.form-container{
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content:center;
  align-items:  center
}

form{
  display: flex;
  flex-direction: column;
}
input,button{
  margin-top: 10px;
}

